.btn-lg-175 {
   font-size: 1.75rem;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.h-70 {
    height: 70% !important;
}

.btn-registro {
    position: absolute;
    width: 120px !important;
    height: 50px;
    margin-top: 8px;
}
